.wp-block-ti-blocks-three-importer {
    background-color: transparent !important; 
    border: 1.5px solid black;
    
    .ti-inner-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        
        .block-editor-block-list__layout {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            padding: inherit; 
            justify-content: inherit;
            align-items: inherit;
            text-align: inherit;

            & > .wp-block {
                width: fit-content;
                max-width: 100%;
                text-align: inherit !important;
                background-color: transparent !important;
                background: none !important;

                .rich-text {
                    width: 100%;
                }
            }
        }
    }
}

.wp-block-ti-blocks-three-importer .ti-block-heading {
    background-color: #000;
    color: white;
    padding: 8px;
    font-size: 11px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}