.wp-block-ti-blocks-three-importer {
	background-color: thsl(0, 100%, 50%)parent !important;
	overflow: visible;
	outline: 3px solid black;
}

.wp-block-ti-blocks-three-importer .ti-block-resizable-box {
	outline: 2px solid blue;
	box-sizing: border-box;
	padding: 10px;
}

.wp-block-ti-blocks-three-importer .ti-block-heading {
	background-color: #000;
	color: white;
	box-sizing: border-box;
	padding: 10px;
	border: 1.5px solid white;
	width: 100%;
	text-align: left !important;
}

.wp-block-ti-blocks-three-importer .ti-block-resizable-box .components-resizable-box__handle {
	width: 12px;
	height: 12px;

	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
}

.wp-block-ti-blocks-three-importer .ti-inner-wrapper {
	width: 100%;
	box-sizing: border-box;
}

.wp-block-ti-blocks-three-importer .ti-inner-wrapper > .block-editor-block-list__layout {
	width: 100% !important;
}