.three-importer-block-wrapper {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    pointer-events: none;
}

.wp-block-ti-blocks-three-importer {
	background-color: transparent;
}

.three-importer-container {
	width: 100%;
    height: 100%; 
    min-height: 400px;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
    overflow: hidden;
    display: block;
}

.three-importer-container canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    display: block;
    z-index: 0;
}

.three-importer-container .ti-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    min-height: 400px;
    pointer-events: none;
    box-sizing: border-box;
}

.is-vertically-aligned-top { justify-content: flex-start; }
.is-vertically-aligned-center { justify-content: center; }
.is-vertically-aligned-bottom { justify-content: flex-end; }

.items-justified-left { align-items: flex-start; }
.items-justified-center { align-items: center; }
.items-justified-right { align-items: flex-end; }

.has-text-align-left { text-align: left; }
.has-text-align-center { text-align: center; }
.has-text-align-right { text-align: right; }

.ti-content > * {
    pointer-events: auto;
    width: 100%;
}

.three-importer-container.alignfull {
  width: 100vw;     
  margin-left: calc(50% - 50vw);  
  margin-right: calc(50% - 50vw);
  max-width: 100vw;     
  position: relative;    
}

.three-importer-container .ti-content .ti-adjustable {
    height: auto;
    width: 100%;
    position: relative;
}