.three-importer-container {
    width: 100%;
    min-height: 400px;
    position: relative;
    overflow: hidden;
    display: block;
    padding: 0 !important;

    &.alignfull {
        width: auto;
        max-width: none;
        position: relative;
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        left: 0;
        right: 0;
    }

    .ti-content {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        box-sizing: border-box;
        padding: inherit; 

        &.is-vertically-aligned-top { justify-content: flex-start; }
        &.is-vertically-aligned-center { justify-content: center; }
        &.is-vertically-aligned-bottom { justify-content: flex-end; }

        &.items-justified-left { 
            align-items: flex-start; 
            text-align: left;
        }
        &.items-justified-center { 
            align-items: center; 
            text-align: center;
        }
        &.items-justified-right { 
            align-items: flex-end; 
            text-align: right;
        }

        & > * {
            pointer-events: auto;
            width: fit-content;
            max-width: 100%;
            text-align: inherit !important; 
            background-color: transparent !important;
            background: none !important;
            margin-top: 0;
            margin-bottom: 0;
        }

        p, h1, h2, h3, h4, h5, h6, div {
            text-align: inherit !important;
            width: 100%; 
            background-color: transparent !important;
            background: none !important;
        }

        &.items-justified-left > * {
            margin-left: 0;
            margin-right: auto;
        }

        &.items-justified-center > * {
            margin-left: auto;
            margin-right: auto;
        }

        &.items-justified-right > * {
            margin-left: auto;
            margin-right: 0;
        }
    }
}