/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-ti-blocks-threeimporter {
	background-color: thsl(0, 100%, 50%)parent !important;
}

.ti-block-heading {
	background-color: #000;
	box-sizing: border-box;
	padding: 10px;
	border: 1.5px solid white;
	width: 100%;
}